latest.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2096,
        5504
      ],
      "id": "60284dc4-6837-4057-9e6d-925d6c4706d9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "118SGxL0CPNQdd5lELMIF79mX4mOLaO8CA-Aap7bkX-c",
          "mode": "list",
          "cachedResultName": "Leads Inbox",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/118SGxL0CPNQdd5lELMIF79mX4mOLaO8CA-Aap7bkX-c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1994584734,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/118SGxL0CPNQdd5lELMIF79mX4mOLaO8CA-Aap7bkX-c/edit#gid=1994584734"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1824,
        5504
      ],
      "id": "80b61aa5-0bc1-4a23-968c-bdc364f11c36",
      "name": "Read All Leads",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uMXI0H9zAHNeWxnm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1248,
        5504
      ],
      "id": "2652518a-e306-4728-a610-6de25ae4b51b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/process-lead",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "linkedinUrl",
              "value": "={{ $json.linkedin_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1008,
        5520
      ],
      "id": "d1761cee-472f-4f1f-b185-8ea01f99df98",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 45
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -816,
        5520
      ],
      "id": "28dbd535-912c-45de-837c-8f19950e7a81",
      "name": "Wait",
      "webhookId": "55676ad8-5190-49f2-84f0-442ad153cb46"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/api/process-lead",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "jobId",
              "value": "={{ $('HTTP Request').item.json.jobId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -640,
        5520
      ],
      "id": "13eb1a63-306c-4689-a8d7-dbe71e5b6575",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "affda9b4-6060-4af5-b008-e546a486f2a3",
              "leftValue": "={{ $json.result.activityStatus }}",
              "rightValue": "Active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -464,
        5520
      ],
      "id": "d8a8ff65-4f44-48a0-8442-64784634244f",
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.100.24:5000/api/personalize",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "website",
              "value": "={{ $json.result.website }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        5216
      ],
      "id": "4bd54b18-52c3-4734-93c5-0fea7005cf00",
      "name": "HTTP Request7",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xE9V-VnDbabSOLcjiyvICL7HOVzxsYyc9-yHEadcLOA",
          "mode": "list",
          "cachedResultName": "n8n_Results",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xE9V-VnDbabSOLcjiyvICL7HOVzxsYyc9-yHEadcLOA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 0,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xE9V-VnDbabSOLcjiyvICL7HOVzxsYyc9-yHEadcLOA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "linkedin_url": "={{ $('HTTP Request6').item.json.result.url }}",
            "first_name": "={{ $('HTTP Request6').item.json.result.firstName }}",
            "last_name": "={{ $('HTTP Request6').item.json.result.lastName }}",
            "website": "={{ $('HTTP Request6').item.json.result.website }}",
            "email": "={{ $('HTTP Request6').item.json.result.primaryEmail || $('HTTP Request6').item.json.result.emails[0] }}",
            "all_emails": "={{ $('HTTP Request6').item.json.result.emails.join('; ') }}",
            "hook": "={{ $('HTTP Request7').item.json.hook }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "all_emails",
              "displayName": "all_emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hook",
              "displayName": "hook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "website_source",
              "displayName": "website_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        336,
        5216
      ],
      "id": "41cc2074-8c65-4757-a61e-9b4bb8fa2d17",
      "name": "Append row in sheet",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uMXI0H9zAHNeWxnm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        512,
        5216
      ],
      "id": "a7b5c5cf-2c4d-4ced-b9ef-2acc5d2e4dff",
      "name": "Wait4",
      "webhookId": "a1b2c3d4-5190-49f2-84f0-442ad153cb47"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "12526b5f-1f20-4a1c-8391-db177dec2375",
              "leftValue": "={{ $json.result.website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -320,
        5472
      ],
      "id": "d905e1b3-5098-4a4f-b099-f2f40c781e6a",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "website-not-empty",
              "leftValue": "={{ $('HTTP Request6').item.json.result.website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        160,
        5216
      ],
      "id": "6c287403-3f1f-4c0f-a0b5-de8b19e016ba",
      "name": "Filter No Website1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "118SGxL0CPNQdd5lELMIF79mX4mOLaO8CA-Aap7bkX-c",
          "mode": "list",
          "cachedResultName": "Leads Inbox",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/118SGxL0CPNQdd5lELMIF79mX4mOLaO8CA-Aap7bkX-c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 0,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/118SGxL0CPNQdd5lELMIF79mX4mOLaO8CA-Aap7bkX-c/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1504,
        5504
      ],
      "id": "4688b994-91a7-4ac9-8094-0061319fab04",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uMXI0H9zAHNeWxnm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-processing",
              "leftValue": "={{ $json.status }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-queued",
              "leftValue": "={{ $json.status }}",
              "rightValue": "queued",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        5712
      ],
      "id": "dc225cb6-5895-4f50-b9b9-73c1149fe77c",
      "name": "If Processing1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1664,
        5504
      ],
      "id": "3163bb0f-e60a-48d1-98cc-b4276d997f7b",
      "name": "Aggregate"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read All Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Filter No Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Leads": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Processing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Filter No Website1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter No Website1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Processing1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0dfe5e85-974e-4b6d-b0a5-01104509c7ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "296d94406911dddb5ec56cc3b8ecbfdd4d21d73d45d74263e94004e266599128"
  },
  "id": "U4qSsIndd12dxYhV",
  "tags": []
}